<footer>
    <div class="container-fluid">
        <div class="row"></div>
        <div class="col-md-3">Escuela Juan Abdala Chayep N°713 </div>
        <div class="col-md-4">Materia: Practica Profesionalizante </div>
        <div class="col-md-5">Email: alddu.av@gmail.com</div>
                <style>
                    img.grande {
                        width: 200px;
                        height: 200px;
                    }
                </style>
            <p> <img class="grande" src="/assets/imagenes/logo713.jpeg" alt="Logo de la escuela N° 713">
            </p>    
    </div>
</footer>