<html lang="es">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <style>
    img.grande {
      width: 200px;
      height: 200px;
    }
  </style>
  <title>aldana</title>
</head>
<body>

            <footer class="bg-dark text-white">
                <div class="container">
                  <div class="row">
                    <ul class="list-group list-group-flush col-md-8">
                      <li class="list-group-item list-group-item-action">
                        Escuela Juan Abdala Chayep N°713
                      </li>
                      <li class="list-group-item list-group-item-action">
                        Materia: Practica Profesionalizante
                      </li>
                      <li class="list-group-item list-group-item-action">
                        Correo electrónico: alddu.av@gmail.com
                      </li>
                    </ul>
              
                    <div class="col-md-4 order-md-last">
                      <div class="row justify-content-end">
                        <div class="col-md-12">
                          <p>
                            <img class="grande" src="/assets/imagenes/logo713.jpeg" alt="Logo de la escuela N° 713">
                          </p>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              
              
              </footer>
              
</body>
</html>