<footer>
    <div class="container-fluid">
        <div class="row justify-content-start">
        </div>
        <div class="col-md-4">
            Escuela Juan Abdala Chayep N°713
        </div>
        <div class="col-md-4">
            Materia: Practica Profesionalizante
        </div>
        <div class="col-md-4">
            Email: alddu.av@gmail.com
        </div>
    </div>    
        <div class="container">
            <div class="row justify-content-start">
                <div class="col-md-12">
                    <style>
                        img.grande {
                            width: 200px;
                            height: 200px;
                        }
                    </style>
                    <p> <img class="grande" src="/assets/imagenes/logo713.jpeg" alt="Logo de la escuela N° 713">
                    </p>
                </div>
            </div>
        </div>

</footer>